<div class="list-cntnr">
  <div class="title">
    <h1>Manage your bookings</h1>
  </div>
    <table class="lists-cntnr">
      <%= render 'layouts/orderer', columns: @columns %>
      <% @bookings.all.each do |booking| %>
        <tr>
          <td><%= booking.room.name %></td>
          <td><%= booking.start.strftime("%B %d, %Y") %></td>
          <td><%= booking.end_day.strftime("%B %d, %Y") %></td>
          <td><%= link_to image_pack_tag('rubbish-bin.png'), booking, method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
