<div class="list-cntnr">
  <div class="title">
    <h1>Waiting list</h1>
  </div>
  <div class="lists-cntnr">
    <div>
      <h2 class="bg-info">Confirmed (<%= @confirmed.count %>)</h2>
      <i>Requests waiting to be included in the list</i>
      <ul>
        <% @confirmed.each_with_index do |request, index| %>
          <li><%= index + 1 %> <%= request.user.name %> <%= link_to image_pack_tag('checked.png'), requests_accept_path(id: request.id), method: :post, class: 'bin-img' %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2 class="bg-success">Accepted (<%= @accepted.count %>/20)</h2>
      <i>Requests that are accepted</i>
      <ul>
        <% @accepted.each do |request| %>
          <li><%= request.user.name %> <%= link_to image_pack_tag('rubbish-bin.png'), request, method: :delete, class: 'bin-img' %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2 class="bg-warning">Unconfirmed (<%= @pending.count %>)</h2>
      <i>Requests whose user has never confirmed his email</i>
      <ul>
        <% @pending.each do |request| %>
          <li><%= request.user.name %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2 class="bg-secondary">Expired (<%= @expired.count %>)</h2>
      <i>Requests that will never be included in the list</i>
      <ul>
        <% @expired.each do |request| %>
          <li><%= request.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
